__pycache__
.idea/
.cache
.tox/
.eggs/
.hypothesis/
.coverage
*.config
*.debug
*.spec
/dist/
/build/
coverage.xml
/test/test_files/*_EMFT.miz
htmlcov
*.egg-info/
/doc/html/
.pylint.d/
__version_frozen__.py
/~/
/emft-doc/
/test/test_files/weather_output/
/test/test_files/weather/
/test/test_files/weather_output.miz
/test/test_files/time_output/
/test/test_files/time/
/test/test_files/empty/
