__pycache__
.idea/
.cache
.tox/
.eggs/
.hypothesis/
.coverage
*.config
*.debug
*.spec
/dist/
coverage.xml
/test/test_files/*_EMFT.miz
htmlcov
*.egg-info/
/doc/html/
build/
.pylint.d/
__version_frozen__.py
/~/
*.exe
