__pycache__
.idea/
/temp/
/output/
*.config
*.debug
*.spec
/.pyupdater/
/pyu-data/
/build/
/dist/
/test/.cache/
/test/coverage/
/coverage.xml
/.coverage
/.cache/
/.hypothesis/
/test/test_files/*_EMFT.miz
