certifi
click
colour
coverage
gitchangelog
humanize
httmock
hypothesis
mpmath
natsort
path.py
pip-tools
pipdeptree
polycircles
PyQt5
pytest
pytest-cache
pytest-catchlog
pytest-cov
pytest-mock
pytest-pep8
pytest-pycharm
pytest-qt
pytest-runner
raven
requests
ruamel.yaml
semver
simplekml
urllib3
