appdirs==1.4.0
certifi==2017.1.23
click==6.7
contextlib2==0.5.4
future==0.16.0
humanize==0.5.1
mpmath==0.19
natsort==5.0.2
packaging==16.8
path.py==10.1
pipdeptree==0.9.0
git+https://github.com/132nd-etcher/pyinstaller.git#egg=PyInstaller
pyparsing==2.1.10
pypiwin32==219
PyQt5==5.7.1
raven==5.32.0
requests==2.13.0
ruamel.yaml==0.11.10
semver==2.7.5
sip==4.19
six==1.10.0
urllib3==1.20