-r requirements.txt
apipkg==1.4               # via execnet
attrs==17.2.0             # via hypothesis
certifi==2020.6.20      # via requests
chardet==3.0.4            # via requests
colorama==0.4.3           # via pytest
coverage==4.4.1
datadiff==2.0.0
execnet==1.4.1            # via pytest-cache
httmock==1.2.6
hypothesis==3.31.3
idna==2.9                 # via requests
pep8==1.7.0               # via pytest-pep8
py==1.9.0                # via pytest, pytest-catchlog
pytest-cache==1.0
pytest-catchlog==1.2.2
pytest-cov==2.5.1
pytest-mock==1.6.3
pytest-pep8==1.0.6
pytest-pycharm==0.4.0
pytest-qt==2.2.1
pytest==3.2.3
requests==2.18.4          # via httmock
urllib3==1.22             # via requests
