apipkg==1.4
appdirs==1.4.2
certifi==2017.1.23
click==6.7
colorama==0.3.7
contextlib2==0.5.4
coverage==4.3.4
execnet==1.4.1
future==0.16.0
httmock==1.2.6
humanize==0.5.1
hypothesis==3.6.1
mpmath==0.19
natsort==5.0.2
packaging==16.8
path.py==10.1
pep8==1.7.0
pipdeptree==0.9.0
py==1.4.32
PyInstaller==3.2.1
pyparsing==2.1.10
pypiwin32==219
PyQt5==5.7.1
pytest==3.0.6
pytest-cache==1.0
pytest-catchlog==1.2.2
pytest-cov==2.4.0
pytest-mock==1.5.0
pytest-pep8==1.0.6
pytest-pycharm==0.4.0
pytest-qt==2.1.0
pytest-runner==2.11.1
raven==5.32.0
requests==2.13.0
ruamel.yaml==0.11.10
semver==2.7.5
sip==4.19
six==1.10.0
urllib3==1.20
wincertstore==0.2